<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="img/png" href="../media/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <title>Library</title>
  </head>

  <body>
    <div class="container">
      <div class=" container row justify-content-center mt-4">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item {% if current_page <= 1 %}disabled{% endif %}"><a class="page-link" href="{{ ('index' ~ (current_page - 1) ~ '.html') | urlencode }}">Назад</a></li>
            {% for page_number in range(total_pages) %}
            <li class="page-item {% if page_number + 1 == current_page %}active{% endif %}"><a class="page-link" href="{{ ('index' ~ (page_number + 1) ~ '.html') | urlencode }}">{{ page_number + 1 }}</a></li>
            {% endfor %}
            <li class="page-item {% if current_page >= total_pages %}disabled{% endif %}"><a class="page-link" href="{{ ('index' ~ (current_page + 1) ~ '.html') | urlencode }}">Вперёд</a></li>
          </ul>
        </nav>
      </div>      
      {% for row in books %}
        <div class="row">
          {% for book in row %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ ('../media/' + book.img_src) | urlencode }}" class="card-img" alt="{{ book.title }}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <p class="card-text">{{ book.author }}</p>
                      <span class="bage bage-light">{{ book.genres }}</span>
                      <p class="card-text"><a href="{{ ('../media/' + book.book_path) | urlencode }}" target="_blank" rel="noopener noreferrer">Читать</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>

  </body>
</html>